<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Year published:</b>
  <%= @book.year_published %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher_id %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
