<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Year:</b>
  <%= @book.year_published %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher.name %>
</p>

<%= render :partial => 'list_of_authors' %>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
